html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#info {
	position: absolute;
	width: 90%;
	top: 15px;
	left: 15px;
	padding: 10px;
	font-weight: bolder;
	text-align: center;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.8);
	font-family: Arial, sans-serif;
	font-size: 14px;
	z-index: 5;
	border: solid 1px #6c5d5d;
}